:root {
    --white: #fff;
    --off-black: #333;
    --grey: rgba(255, 255, 255, 0.3);

    --font: 'Libre Franklin', system-ui;
}

body {
    font-family: var(--font);
}

a {
    color: inherit;
}

.stack {
    display: flex;
    flex-direction: column;
}

.stack > * + * {
    margin-top: 10px;
}